<template>
  <v-select solo-inverted hide-details class="pt-0 mt-0 langSelect" style="max-width: 4em" :items="languages"
            v-model="language"></v-select>
</template>

<script>
export default {
  name: "LanguageSwitcher",
  data: () => {
    return {
      langCodes: ['en', 'et'],
      language: 'EN'
    }
  },

  watch: {
    language() {
      const language = this.language.toLocaleLowerCase();

      this.$i18n.locale = language;
      this.$vuetify.lang.current = language;

      window.localStorage.setItem("language", this.language);
    }
  },

  created() {
    const storedLanguage = window.localStorage.getItem("language");

    if (storedLanguage) {
      this.language = storedLanguage;
    }
  },

  computed: {
    languages() {
      return this.langCodes.map(code => {
        return code.toLocaleUpperCase()
      })
    }
  }
}
</script>

<style scoped>
.langSelect >>> .v-input__slot {
  padding: 0 !important;
  box-shadow: none !important;
  background-color: unset !important;
}

.langSelect >>> .v-input__control {
  min-height: unset !important;
}

.langSelect >>> .v-input__append-inner {
  padding-left: 0 !important;
}

.langSelect >>> .mdi-menu-down.v-icon {
  color: white !important;
}

.langSelect >>> .v-select__selection {
  color: white !important;
}
</style>