<template>
  <div class="con-login">
    <v-row justify="center">
      <v-col v-if="!isLoggedIn" style="max-width: 300px">
        <v-row >
          <v-col class="login-title">
            {{ $t('signin') }}
          </v-col>
        </v-row>
        <v-row>
          <v-col style="text-align: center;">
            <v-btn large color="" @click="login(false)">
              OpenID
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="pt-2">
          <v-col style="text-align: center;">
            <v-btn large color="" @click="login(true)">
              GitHub
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
      <v-col v-else style="max-width: 500px">
        <v-card>
          <v-card-title>
            Welcome back!
          </v-card-title>
          <v-row class="pa-4">
            <v-col>
              You are already logged in and will be redirected back to homepage shortly.<br><br>

              If you are not redirected automatically, follow this <router-link to="/">link</router-link>.
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Login",
  methods: {
    login(isGithub) {
      if (isGithub) {
        window.location.href = "/oauth2/authorization/github"
      } else {
        window.location.href = "/oauth2/authorization/azure";
      }
    }
  },

  mounted() {
    if (this.isLoggedIn) {
      setTimeout(() => this.$router.push("/"), 5000);
    }
  },

  computed: {
    isLoggedIn() {
      return !this.$store.getters.isAnon;
    }
  }
}
</script>

<style scoped>

</style>
