<template>
  <span/>
</template>

<script>

import axios from 'axios';
import router from "@/plugins/router";

export default {
  name: "Logout",

  mounted() {
    axios.get(process.env.VUE_APP_API_PATH + "/user/logout", {withCredentials: true})
        .then(() => {
          this.$store.dispatch("fetchUserData");
          router.push("/");
        });
  }
}
</script>

<style scoped>

</style>