<template>
  <div class="con-main">
    <div class="con-100">
      <div class="title-main">{{ $t('management') }}</div>
      <v-tabs color="primary" v-model="activeTab">
        <v-tab id="createRoomTab">{{ $t('createroom') }}</v-tab>
        <v-tab>{{ $t('managerooms') }}</v-tab>
<!--        <v-tab>{{ $t('manageusers') }}</v-tab>-->
        <!--ROOM CREATION-->
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-row>
                <v-col md="6">
                  <v-alert outlined type="success" transition="fade-transition" text v-if="showAlert"
                           id="createRoomMsg">
                    {{ $t('newroomcreations') }}<br>
                    {{ $t('clickhere') }}
                    <router-link :to="`/rooms/${createdRoom}`">{{ $t('here') }}</router-link>
                    {{ $t('viewcreatedroom') }}<br>
                    {{ $t('creationmsg') }}
                  </v-alert>
                  <v-form>
                    <v-text-field
                        id="createRoomName"
                        v-model="roomName"
                        :label=" $t('name') "
                        required
                    ></v-text-field>

                    <v-textarea
                        id="createRoomDesc"
                        v-model="roomDesc"
                        :label=" $t('description') "
                        required
                        rows="1"
                        auto-grow
                    ></v-textarea>

                    <v-text-field
                        id="createRoomSeats"
                        v-model="roomSeats"
                        :label=" $t('capacity') "
                        required
                        type="number"
                        min="0"
                        @focus="seatsOnFocus"
                    ></v-text-field>

                    <v-combobox
                        id="createRoomEq"
                        :label=" $t('equipment') "
                        multiple
                        v-model="equipment"
                        :items="translatedEquipment"
                    ></v-combobox>

                      <v-combobox
                          id="createRoomType"
                          :label=" $t('roomtype') "
                          v-model="selectedRoomType"
                          :items="translatedTypes"
                      >
                    </v-combobox>

                    <v-file-input
                        id="createRoomFile"
                        :label=" $t('picture') "
                        v-model="file"

                    ></v-file-input>
                    <v-btn large rounded color="primary" @click="createRoom" id="createRoomBtn">{{
                        $t('create')
                      }}
                    </v-btn>
                  </v-form>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <!--ROOMS MANAGEMENT-->
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-alert outlined type="success" transition="fade-transition" text v-if="showAlert"
                       id="updateRoomMsg">
                {{ editedRoom.name }} {{ $t('successfulupdate') }}
              </v-alert>

              <v-data-table style="width: 100%" :items="rooms" :headers="roomsHeader" :search="search">
                <template v-slot:top>
                  <v-text-field
                      v-model="search"
                      label="Search"
                      class="mx-4"
                  ></v-text-field>
                </template>
                <template v-slot:item.type="{ item }">
                  <span>{{ $t(roomTypes[item.type]) }}</span>
                </template>
                <template v-slot:item.equipment="{ item }">
                  <ol v-for="icon in item.equipment" v-bind:key="icon">{{ icons[icon] }}</ol></template>
                <template v-slot:item.actions="{ item }">
                  <div style="min-width: 64px">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" v-on="on" small class="mr-2" @click="openQrCode(item)">mdi-qrcode
                        </v-icon>
                      </template>
                      <span>{{ $t('qrcodetooltip') }}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" v-on="on" small class="mr-2" @click="editRoom(item)">mdi-pencil</v-icon>
                      </template>
                      <span>{{ $t('edittooltip') }}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" v-on="on" small @click="openDeleteRoomConfirmation(item)">mdi-delete
                        </v-icon>
                      </template>
                      <span>{{ $t('deletetooltip') }}</span>
                    </v-tooltip>
                  </div>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-tab-item>

<!-- will be added back later if needed        -->
<!--        &lt;!&ndash;USERS MANAGEMENT&ndash;&gt;
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-data-table style="width: 100%" :items="users" :headers="usersHeader">
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-tab-item>-->
      </v-tabs>

      <v-dialog v-model="qrDialog" width="420">
        <v-card class="pa-5">
          <div class="title-main">{{ $t('qrcodefor') }} {{ editedRoom.name }}</div>
          <v-row no-gutters>
            <v-col style="text-align: center">
              <img ref="qrImage" id="qr-image" alt=""/>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-btn large rounded color="primary" @click="downloadQrCode">{{ $t('download') }}</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>

      <v-dialog v-model="deleteRoomConfirmation" width="400">
        <v-card class="pa-5">
          <div class="title-main">{{ $t('deleteroom') }}</div>

          <div class="mt-2 mb-2">{{ $t('deleteconfirm') }}?</div>


          <v-divider></v-divider>

          <v-card-actions>
            <v-row no-gutters class="pt-2">
              <v-col style="flex-grow: 0" class="mr-2">
                <v-btn

                    @click="deleteRoomConfirmation = false"
                    rounded
                    class="pr-4"
                >
                  {{ $t('cancel') }}
                </v-btn>
              </v-col>
              <v-spacer></v-spacer>
              <v-col style="flex-grow: 0">
                <v-btn
                    color="error"
                    rounded
                    @click="deleteRoom(editedRoom)"
                >
                  {{ $t('delete') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="editingRoom" width="800" header-color="">
        <v-card class="pa-5">
          <div class="title-main">{{ $t('editroom') }}</div>
          <v-row>
            <v-col md="6">
              <v-text-field
                  v-model="editedRoom.name"
                  spellcheck="false"
                  :label=" $t('name') "
                  required
              ></v-text-field>
              <v-textarea
                  auto-grow
                  rows="1"
                  v-model="editedRoom.description"
                  spellcheck="false"
                  :label=" $t('description') "
                  required
              ></v-textarea>
              <v-text-field
                  v-model="editedRoom.seats"
                  spellcheck="false"
                  :label=" $t('capacity') "
                  required
                  type="number"
                  min="0"
              ></v-text-field>
              <v-select
                  id="createRoomEq"
                  :label=" $t('equipment') "
                  multiple
                  v-model="editedRoom.equipment"
                  :items="translatedEquipment"
              ></v-select>

              <v-select
                  id="createRoomType"
                  :label=" $t('roomtype') "
                  v-model="editedRoom.type"
                  :items="translatedTypes"
              >
              </v-select>
              <v-file-input
                  id="createRoomFile"
                  :label=" $t('uploadpicture') "
                  v-model="file"
              ></v-file-input>
              <v-btn large rounded color="primary" @click="saveRoomEdit">Save</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import QrCodeWithLogo from 'qrcode-with-logos';

export default {
  name: 'Management',
  methods: {
    createRoom() {
      let formData = new FormData();
      formData.append('image', this.file);
      formData.append('data', JSON.stringify({
        name: this.roomName,
        description: this.roomDesc,
        seats: this.roomSeats,
        equipment: this.equipment.map(e => e.value),
        type: this.selectedRoomType.value
      }));
      axios.post(process.env.VUE_APP_API_PATH + '/api/rooms/new', formData, {withCredentials: true}).then(res => {
        this.showAlert = true;
        //setTimeout(() => this.showAlert = false, 3000);
        this.roomName = '';
        this.roomDesc = '';
        this.roomSeats = 0;
        this.file = undefined;
        this.equipment = [];
        this.selectedRoomType = ''

        this.createdRoom = res.data.id;

        this.getRooms();

      });
    },

    getRooms() {
      axios.get(process.env.VUE_APP_API_PATH + '/api/rooms/', {withCredentials: true})
          .then(res => {
            this.rooms = res.data;
            this.rooms.forEach(room => {
              room.equipment = JSON.parse(room.equipment);
            });

          });
    },

    editRoom(item) {
      this.editedRoom = {...item};
      this.editingRoom = true;

    },

    openQrCode(item) {
      this.qrDialog = true;
      this.editedRoom = {...item};
      this.$nextTick(this.showQrCode);
    },

    openDeleteRoomConfirmation(item) {
      this.editedRoom = {...item};
      this.deleteRoomConfirmation = true;
    },

    showQrCode() {
      this.qrcode = new QrCodeWithLogo({
        content: `https://ut-toad.com/rooms/${this.editedRoom.id}`,
        width: 380,
        image: this.$refs.qrImage,
        logo: {
          src: require('@/assets/qrlogo.jpg')
        }
      });
      this.qrcode.toImage();
    },

    downloadQrCode() {
      this.qrcode.downloadImage(`${this.editedRoom.name}-qr-code`);
    },

    saveRoomEdit() {
      let formData = new FormData();
      formData.append('image', this.file);

      let value = {...this.editedRoom};
      value.thumbnail = undefined;

      formData.append('data', JSON.stringify(value));

      axios.post(process.env.VUE_APP_API_PATH + '/api/rooms/update', formData, {withCredentials: true})
          .then(() => {
            this.editingRoom = false;
            this.getRooms();
            this.showAlert = true;
            this.file = undefined;
          });
    },

    deleteRoom(item) {
      axios.delete(process.env.VUE_APP_API_PATH + '/api/rooms/' + item.id).then(() => {
        this.getRooms();
      }).finally(() => {
        this.getRooms();
        return this.deleteRoomConfirmation = false;
      });
    },
    seatsOnFocus() {
      if (this.roomSeats === 0) {
        this.roomSeats = '';
      }
    },
    encodeRoomType(room) {
      if (room === 'Student room' || room === 'Kärg') {
        return 0
      }
      if (room === 'Skype room' || room === 'Skype ruum') {
        return 1
      }
    }
  },

  mounted() {
    this.getRooms();
  },

  watch: {
    activeTab() {
      this.showAlert = false;
    }
  },

  computed: {
    roomsHeader() {
      return [
        {text: this.$t('room'), value: 'name'},
        {text: this.$t('type'), value: 'type'},
/*        {text: this.$t('description'), value: 'description'},*/
        {text: this.$t('seats'), value: 'seats'},
        {text: this.$t('equipment'), value: 'equipment'},
        {text: this.$t('actions'), value: 'actions'}
      ];
    },

    translatedRooms() {
      return this.rooms.map(room => {
        const copy = {
          ...room
        };

        copy.type = this.$t(this.roomTypes[copy.type]);
        return copy;
      });
    },

    translatedEquipment() {
      return this.equipmentTypes.map(eq => {
        let text = eq;

        if (this.$te(eq)) {
          text = this.$t(eq)
        }

        return {
          text: text,
          value: eq
        };
      });
    },

    translatedTypes() {
      return Object.keys(this.roomTypes).map(type => {
        let roomType = this.roomTypes[type];
        return {
          text: this.$t(roomType),
          value: parseInt(type)
        }
      })
    },

    usersHeader() {
      return [
        {text: this.$t('name'), value: 'name'}
      ];
    }
  },

  data() {
    return {
      icons: {
        'table': this.$t('table'),
        'projector': this.$t('projector'),
        'whiteboard': this.$t('whiteboard')
      },
      // rooms creation
      showAlert: false,
      roomName: '',
      roomDesc: '',
      roomSeats: 0,
      file: undefined,
      equipment: [],
      selectedRoomType: '',
      qrDialog: false,
      deleteRoomConfirmation: false,

      // rooms
      rooms: [],

      // users
      users: [],

      // room management
      editingRoom: false,
      editedRoom: {},
      qrcode: undefined,

      activeTab: undefined,
      createdRoom: undefined,

      roomTypes: {
        0: 'studentroom',
        1: 'skypebooth'
      },
      equipmentTypes: ["table", "projector", "whiteboard"],
      search: '',
      roomEquipmentList: ''
    };
  }
};
</script>

<style scoped>
#createRoomMsg >>> .v-icon {
  padding-top: 20px
}
</style>
