<template>
  <v-row>
    <v-col>
      <v-row>
        <v-col style="text-align: center; padding-top: 150px">
          <h1>{{ $t('err') }}</h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center; padding-top: 200px">
          <h2>{{ $t('notfound') }}</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col style="text-align: center">
          <router-link to="/">{{ $t('homepage') }}</router-link>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "NotFound"
}
</script>

<style scoped>
h2 {
  color: #B79A33;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 100;
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Rubik', sans-serif;
}

a {
  color: black;
  text-transform: uppercase;
}

a:hover {
  color: #B79A33;
}
</style>