<template>
  <div class="con-main">
    <div class="con-100">
      <div class="title-main">{{ $t('profile') }}</div>
      <p>{{ user.username }}</p>
      <div class="title-paragraph">{{ $t('reservations') }}</div>
      <v-data-table style="width: 100%" :items="reservations" :headers="headers" :sort-by="['endTime']" :sort-desc="[true]">
        <template v-slot:item.time="{ item }">
          {{ formatDate(item.startTime, item.endTime) }}
        </template>
        <template v-slot:item.actions="{ item }">
          <router-link :to="`/booking/${item.id}`">{{ $t('details') }}</router-link>
          <!--
          <div v-if="new Date(item.endTime) < new Date()">
            Expired
          </div>
          -->
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import fTime from '@/plugins/time';

export default {
  name: "Profile",
  methods: {
    formatDate(start, end){
      return `${fTime.date(start)} | ${fTime.time(start)} to ${fTime.time(end)}`;
    },
  },
  mounted() {
    this.path = process.env.VUE_APP_API_PATH + "/api/user";
    axios.get(this.path, {withCredentials: true})
      .then(res => {
        this.user = res.data;
        axios.get(this.path + '/reservations', {withCredentials: true})
          .then(res => {
            const msPerDay = 1000 * 60 * 60 * 24;
            const filteredData = res.data.filter(x =>
                Math.floor(((Date.now() - Date.parse(x.startTime.substring(0,10))) / msPerDay)) <= 30);
            this.reservations = filteredData;
          })
      });
  },
  data() {
    return {
      path: undefined,
      user: {},
      reservations: [],

    }
  },

  computed:{
    headers() {
      return [
        { text: this.$t('room'), value: 'room.name' },
        { text: this.$t('datetime'), value: 'time' },
        { text: this.$t('information'), value: 'actions', sortable: false}
      ]
    }
  }
}
</script>

<style scoped>

</style>
