<template>
  <div class="con-main">
    <div class="con-50 con-center">
      <div class="title-main">{{ $t('reservation') }}</div>

      <v-alert outlined
               type="success"
               transition="fade-transition"
               text
               v-if="response.length > 0"
      >
        {{response}}
      </v-alert>

      <v-alert outlined
               type="info"
               transition="fade-transition"
               text
               v-if="isBookingOver"
      >
        {{ $t('reservationended') }}
      </v-alert>

      <div class="title-paragraph">{{ $t('room') }}</div>
      <router-link :to="`/rooms/${booking.room.id}`">{{ booking.room.name }}</router-link>

      <div class="title-paragraph">{{ $t('datetime') }}</div>
      {{ formatDate(booking.startTime, booking.endTime) }}

      <v-row justify="center" no-gutters v-if="validRoom">
        <v-col cols="8" class="space-evenly">
          <v-tooltip top v-if="!checkedIn && !canCheckIn">
            <template v-slot:activator="{ on }">
              <div v-on="on">
                <v-btn small rounded disabled color="primary">Check-In</v-btn>
              </div>
            </template>
            <span>{{ $t('checkinnotpossible') }}</span>
          </v-tooltip>
          <v-btn v-else small rounded @click="checkIn" :disabled="checkedIn || !canCheckIn" color="primary">Check-In</v-btn>
          <v-btn small rounded :disabled="!(checkedIn && !checkedOut) || !canCheckIn" color="secondary" @click="checkOut">Check-Out</v-btn>
        </v-col>
      </v-row>

      <v-row justify="center" no-gutters>
        <v-col cols="8" class="space-evenly">
          <v-btn v-if="validRoom && isOwner" small rounded @click="shareModalOpen=true" color="secondary">{{ $t('participants') }}</v-btn>
          <v-btn small v-if="validRoom && isOwner" rounded @click="cancelReservation" color="error">{{ $t('cancel') }}</v-btn>
        </v-col>
      </v-row>

      <v-dialog v-model="shareModalOpen" width="400" header-color="">
        <v-card class="pa-5">
          <div class="title-main">{{ $t('participants') }}</div>
          <v-text-field
              v-model="sharePersonEmail"
              label="Email"
              :rules="emailRules"
              required
              class="mb-2"
          ></v-text-field>
          <v-btn :loading="sendingEmail" rounded @click="shareBooking" color="primary">{{ $t('sendinvite') }}</v-btn>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import fTime from '@/plugins/time';
import moment from "moment"

export default {
  name: "Booking",
  methods: {
    formatDate(start, end) {
      return `${fTime.date(start)} | ${fTime.time(start)} to ${fTime.time(end)}`;
    },
    shareBooking() {
      this.sendingEmail = true;
      axios.post(process.env.VUE_APP_API_PATH + "/api/reservations/share", {
        id: this.$route.params.id,
        email: this.sharePersonEmail,
      }, {withCredentials: true}).then(() => {
        this.shareModalOpen = false;

      }).finally(() => {
        this.sendingEmail = false;
      })
    },

    checkIn() {
      axios.post(`${process.env.VUE_APP_API_PATH}/api/reservations/${this.$route.params.id}/checkin`,
          {},
          {withCredentials: true})
          .then(() =>{
            this.getReservation();
            this.response = this.$t('checkin');
          });
    },

    checkOut() {
      axios.post(`${process.env.VUE_APP_API_PATH}/api/reservations/${this.$route.params.id}/checkout`,
          {},
          {withCredentials: true})
          .then(() =>{
            this.getReservation();
            this.response = this.$t('checkout');
          });
    },

    cancelReservation() {
      axios.delete(process.env.VUE_APP_API_PATH + "/api/reservations/" + this.$route.params.id, {withCredentials: true}).then(() => {
        this.$router.push("/profile");
        // TODO: show a message that reservation was deleted
      })
    },

    getReservation() {
      this.loading = true;
      axios.get(process.env.VUE_APP_API_PATH + "/api/reservations/" + this.$route.params.id, {withCredentials: true})
          .then(res => {
            this.booking = res.data.reservation;
            this.checkedIn = res.data.checkedIn;
            this.checkedOut = res.data.checkedOut;
            this.isOwner = res.data.isOwner;
          }).finally(() => this.loading = false);
    }
  },

  created() {
    this.getReservation();
  },

  computed: {
    validRoom() {
      return !this.checkedOut && !this.isBookingOver && !this.loading;
    },

    canCheckIn() {
      let startTime = moment(this.booking.startTime);
      startTime.subtract({minutes: 10})

      return (moment() > startTime) && !this.isBookingOver;
    },

    isBookingOver() {
      let endTime = moment(this.booking.endTime);
      endTime.add({minutes: 10})
      return endTime < moment();
    }
  },

  data() {
    return {
      response: '',
      sendingEmail: false,
      shareModalOpen: false,
      sharePersonEmail: '',
      booking: {
        room: {}
      },
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      loading: false,
      checkedIn: false,
      checkedOut: false,
      isOwner: false
    }
  }
}
</script>

<style scoped>

</style>
