<template>
  <div class="con-main">
    <div class="con-50 con-center">
      <div class="title-main">{{ room.name }}</div>

      <v-alert outlined
               type="success"
               transition="fade-transition"
               text v-if="showAlert"
               id="roomBookingMsg"
      >
        {{ $t('successfulbooking') }}
      </v-alert>

      <v-img :lazy-src="`data:image/png;charset=utf-8;base64, ${room.thumbnail}`"
             aspect-ratio="1.0"
             v-if="room.name"
             class="room-img mt-5"
             :src="`${imagePath}/${room.id}/a.jpg`"/>

      <div class="title-paragraph">{{ $t('details') }}</div>

      {{ room.desc }}
      <div>{{ $t('roomtype') }}: {{$t(roomType)}}</div>
      <div v-if="seats>0">{{ $t('capacity') }}: {{seats}}</div>
      <div v-if="equipment.length > 0">{{ $t('equipment') }}: <li v-for="icon in equipment" :key="icon">{{ $t(icon) }}</li></div>
      <div class="space-evenly">
        <v-btn large rounded color="secondary" @click="$router.push('/rooms')">{{ $t('back') }}</v-btn>
        <v-btn large rounded color="primary" :disabled="$store.getters.isAnon" @click="openRoomModal">{{
            $t('book')
          }}
        </v-btn>
      </div>

      <v-dialog v-model="roomModalOpen" width="600" header-color="">
        <v-card class="pa-2">
          <div class="title-main mb-2">{{ $t('book') }} {{ room.name }}</div>
          <div class="space-evenly">
            <v-date-picker
                v-if="!date"
                v-model="date"
                :min="new Date().toISOString().substr(0, 10)"
            ></v-date-picker>
            <v-calendar
                v-if="date && !time"
                :value="date"
                type="day"
                :interval-format="intervalFormat"
                :interval-count=12
                :first-interval=7
                :events="availableTimes"
                :event-color="getEventColor"
                @click:event="showAvailableTime"
                interval-height="30px"
                style="width: 500px"
            >
              <template v-slot:event="{event}">
                <v-row :style="{
                  'background-color' : eventColors[availableTimes.indexOf(event)],
                   'height': '30px'
                }" no-gutters :class="{'pa-1': true, 'available': event.available}" layout="column">
                  <v-col style="flex-grow: 0">
                    {{ event.available ? $t('available') : (!event.permAvailable ?  $t('booked') : "")}}
                  </v-col>
                  <v-spacer/>
                  <v-col v-if="selectedEvents.indexOf(event) >= 0" style="flex-grow: 0">
                    <v-icon size="20">
                      mdi-check
                    </v-icon>
                  </v-col>
                </v-row>
              </template>
            </v-calendar>
          </div>

          <div v-if="date && time">
            {{ $t('confirmMsg') }} <b>{{ date.split('-').reverse().join('.') }} {{ time[0] }}</b> {{ $t('to') }}
            <b>{{ time[1] }}</b>?
          </div>

          <div v-if="date" class="space-evenly">
            <v-btn @click="date = undefined" color="primary" rounded>
              <v-icon class="mr-2">mdi-arrow-left</v-icon>
              {{ $t('back') }}
            </v-btn>
          </div>

          <v-row no-gutters justify="center">
            <v-col md="6">
              <div class="space-evenly">
                <v-btn @click="roomModalOpen = false" class="btn-second pl-2" value="Cancel" color="secondary" rounded>
                  <v-icon class="mr-2">mdi-cancel</v-icon>
                  {{ $t('cancel') }}
                </v-btn>
                <v-btn :disabled="!selectedEvents.length" @click="bookRoom" class="pl-2" id="roomBookingBtn"
                       color="primary" rounded>
                  <v-icon class="mr-2">mdi-check</v-icon>
                  {{ $t('confirm') }}
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "RoomDetails",
  methods: {
    bookRoom() {
      axios.post(this.path + this.$route.params.id + '/book', {
        startTime: this.selectedEvents[0].timeSpan[0],
        endTime: this.selectedEvents[this.selectedEvents.length - 1].timeSpan[1],
        date: this.date
      }, {withCredentials: true})
          .then(() => {
            this.showAlert = true;
            setTimeout(() => this.showAlert = false, 6000);
            this.roomModalOpen = false;
            this.date = undefined;
            this.time = undefined;
          });
    },
    intervalFormat(interval) {
      return interval.time;
    },
    getEventColor(event) {
      return event.color;
    },
    openRoomModal() {
      this.roomModalOpen = true;
      this.date = undefined;
      this.time = undefined;
    },

    showAvailableTime({event}) {
      if (!event.available) {
        return
      }

      let eventIndex = this.availableTimes.indexOf(event);

      if (this.selectedEvents.length) {
        let selectedIndex = this.availableTimes.indexOf(this.selectedEvents[0]);

        if (selectedIndex === eventIndex) {
          event.selected = false;
          for (const time of this.availableTimes) {
            if (time.permAvailable) {
              time.available = true;
            }
          }
          return;
        }


        for (let i = selectedIndex; i < eventIndex; i++) {
          if (this.availableTimes[i].available) {
            this.availableTimes[i].selected = true;
          } else {
            break
          }
        }

        for (let i = eventIndex + 1; i < this.availableTimes.length; i++) {
          this.availableTimes[i].selected = false;
        }

        for (let i = 0; i < selectedIndex; i++) {
          this.availableTimes[i].available = false;
        }

        for (let i = selectedIndex; i < Math.min(selectedIndex + 3, this.availableTimes.length); i++) {
          if (this.availableTimes[i].permAvailable) {
            this.availableTimes[i].available = true;
          } else {
            break
          }
        }

        for (let i = selectedIndex + 3; i < this.availableTimes.length; i++) {
          this.availableTimes[i].available = false;
        }

        event.selected = !event.selected;
      } else {
        for (let i = 0; i < eventIndex; i++) {
          this.availableTimes[i].available = false;
        }

        let i = eventIndex
        for (i; i < Math.min(eventIndex + 3, this.availableTimes.length); i++) {
          if (this.availableTimes[i].permAvailable) {
            this.availableTimes[i].available = true;
          } else {
            break;
          }
        }

        for (i; i < this.availableTimes.length; i++) {
          this.availableTimes[i].available = false;
        }

        event.selected = true;
      }

    }
  },

  watch: {
    date(date) {
      this.time = undefined;
      if (date) {
        axios.get(this.path + this.$route.params.id + '/availability/' + date, {withCredentials: true})
            .then(res => {
              this.times = res.data.payload.available;
              this.availableTimes = [];
              this.times.forEach(startTime => {
                // Adds hour to start time
                const endTimeHour = parseInt(startTime.split(':')[0]) + 1;
                const endTime = `${('0' + endTimeHour).slice(-2)}:00`;
                this.availableTimes.push({
                  name: this.$t('available'),
                  start: `${date} ${startTime}`,
                  end: `${date} ${endTime}`,
                  color: 'primary',
                  timeSpan: [startTime, endTime],
                  available: true,
                  selected: false,
                  permAvailable: true
                });
              });

              res.data.payload.booked.forEach(startTime => {
                // Adds hour to start time
                const endTimeHour = parseInt(startTime.split(':')[0]) + 1;
                const endTime = `${('0' + endTimeHour).slice(-2)}:00`;
                this.availableTimes.push({
                  name: this.$t('available'),
                  start: `${date} ${startTime}`,
                  end: `${date} ${endTime}`,
                  color: 'primary',
                  timeSpan: [startTime, endTime],
                  available: false,
                  selected: false,
                  permAvailable: false
                });


                this.availableTimes.sort((a, b) => (a.timeSpan[0] > b.timeSpan[0]) - (a.timeSpan[0] < b.timeSpan[0]))
              });
            });
      }
    }
  },

  computed: {
    selectedEvents() {
      return this.availableTimes.filter(event => event.selected);
    },

    eventColors() {
      return this.availableTimes.map(event => {
        if (!event.permAvailable) {
          return "#f26c4f";
        }

        if (!event.available) {
          return "#AAAAAA";
        }

        if (event.selected) {
          return "#c7b886";
        }

        return "#7ec100";
      })
    }
  },

  mounted() {
    axios.get(this.path + this.$route.params.id, {withCredentials: true})
      .then(res => {
        this.room = {
          name: res.data.name,
          id: res.data.id,
          desc: res.data.description,
          thumbnail: res.data.thumbnail
        }
        this.equipment = res.data.equipment.replace(/[[\]]/g,'').replace(/['"]+/g, '').split(",").filter(e => e)
        this.seats = res.data.seats
        this.roomType = this.roomTypes[res.data.type];
      })
      .catch(() => {
        this.$router.push('/rooms');
      });
  },

  data() {
    return {
      imagePath: process.env.VUE_APP_API_PATH + "/api/images",
      path: process.env.VUE_APP_API_PATH + "/api/rooms/",
      showAlert: false,
      // Date & Time selection
      date: undefined,
      roomModalOpen: false,
      room: {},
      time: undefined,
      times: [],
      items: [
        {title: 'Check-in'},
        {title: 'Check-out'}],
      seats: 0,
      equipment: [],
      icons: {
        'table': 'Table',
        'projector': 'Projector',
        'whiteboard': 'Whiteboard'
      },
      availableTimes: [],
      roomTypes: {
        0: "studentroom",
        1: "skypebooth"
      },
      roomType: ''
    }
  }
}
</script>

<style scoped>
</style>
<style>
.v-event-timed.primary.white--text {
  background-color: unset !important;
}
</style>
