<template>
  <div class="con-main">
    <div class="con-100">
      <v-row class="title-main" justify="space-between" no-gutters>
        <v-col>
          {{ $t('rooms') }}
        </v-col>
      </v-row>
      <!--      <v-menu style="calc(100% - 55px)">-->
      <!--        <template v-slot:activator="{ on }">-->
      <!--        </template>-->
      <!--        -->
      <!--      </v-menu>-->
      <v-expansion-panels class="mt-4" v-model="showFilters">

        <v-expansion-panel>
          <v-expansion-panel-header>
            <v-row no-gutters style="flex-grow: 0">
              <v-col style="flex-grow: 0">
                <v-icon class="filterIcon">mdi-filter</v-icon>
              </v-col>
              <v-col style="flex-grow: 0; white-space: nowrap" class="pt-1 pl-1">
                <div>
                  <span style="font-size: 16px">{{ $t('filter') }}</span> <span v-if="filterLength">({{ filterLength }})</span>
                </div>
              </v-col>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content>

            <v-row no-gutters>
              <v-col>
                <v-row>
                  <v-col cols="12" class="pt-0 pb-0">
                    <v-row no-gutters>
                      <v-col class="pt-5 filterLabel">
                        {{ $t('capacity') }}:
                      </v-col>
                      <v-col style="  flex-grow: 0; min-width: 35px">
                        <v-text-field min="0" type="number" hide-details
                                      v-model.number="filters.capFrom"></v-text-field>
                      </v-col>
                      <v-col style="flex-grow: 0" class="pa-2 pt-5">
                        {{ $t('to') }}
                      </v-col>
                      <v-col style="flex-grow: 0; min-width: 35px">
                        <v-text-field min="0" type="number" hide-details
                                      v-model.number="filters.capTo"></v-text-field>
                      </v-col>
                    </v-row>

                  </v-col>
                  <v-col cols="12" class="pt-0 pb-0">
                    <v-row no-gutters >
                      <v-col class="filterLabel pt-5">
                        {{ $t('name') }}:
                      </v-col>
                      <v-col cols="8" md="4" class="pt-0">
                        <v-text-field hide-details lable="Name" v-model="filters.name"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" class="pt-0 pb-0">
                    <v-row no-gutters>
                      <v-col class="pt-5 filterLabel">
                        {{ $t('equipment') }}:
                      </v-col>
                      <v-col cols="8" md="4" class="pt-0">
                        <v-select hide-details multiple :items="equipment" v-model="filters.equipment"></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" class="pt-0 pb-0">
                    <v-row no-gutters>
                      <v-col class="filterLabel pt-5">
                        {{ $t('type') }}:
                      </v-col>
                      <v-col cols="8" md="4" class="pt-0">
                        <v-select multiple :items="types" lable="Type" v-model="filters.types"></v-select>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-spacer></v-spacer>
              <v-col style="flex-grow: 0" class="pt-0 pb-0 mr-2">
                <v-btn class="pl-3" color="primary" rounded @click="resetFilters">
                  <v-icon class="pr-1">mdi-filter-remove</v-icon>
                  {{ $t('reset') }}
                </v-btn>
              </v-col>
              <v-col style="flex-grow: 0" class="pt-0 pb-0">
                <v-btn class="pl-3" color="primary" rounded @click="searchFilters">
                  <v-icon class="pr-1">mdi-magnify</v-icon>
                  {{ $t('search') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <!--ROOMS FOR BOOKING-->
    <!--
    <div v-for="room in rooms" :key="room.name" v-on:click="selectRoom(room.name)" class="room-con selectable">
      <img class="room-img" v-bind:src="room.img" />
      <div class="room-desc">{{room.name}}</div>
    </div>
    -->
    <div class="con-100">
      <v-row no-gutters style="max-width: 100%">
        <v-col v-if="!rooms.length && !loading">{{ $t('matchingrooms') }}</v-col>
        <v-col cols="6" md="3" sm="6"
               v-for="room in rooms"
               :key="room.id"
               v-on:click="selectRoom(room.id)"
               :class="{selectable: true, 'pa-2': $vuetify.breakpoint.smAndDown, 'pa-3': $vuetify.breakpoint.mdAndUp}">

          <v-img aspect-ratio="1.0" style="margin: auto"
                 :lazy-src="`data:image/png;charset=utf-8;base64, ${room.thumbnail}`"
                 max-height="400" max-width="400" class="room-img"
                 :src="`${imagePath}/${room.id}/a.jpg`"/>
          <div class="room-desc">{{ room.name }}</div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Booking",
  methods: {
    selectRoom: function (id) {
      this.$router.push(`/rooms/${id}`);
    },
    toggleFilters() {
      this.showFilters = !this.showFilters;
    },
    searchFilters() {
      window.localStorage.setItem("roomFilters", JSON.stringify(this.filters));
      axios.get(this.path + "?search=" + encodeURI(JSON.stringify(this.filters)), {withCredentials: true}).then(res => {
        this.rooms = res.data.map(
            room => {
              return {
                name: room.name,
                id: room.id,
                thumbnail: room.thumbnail
              }
            }
        );
        this.toggleFilters();
      });
    },

    resetFilters() {
      this.filters = {};
    }
  },

  watch: {
    filters: {
      deep: true,

      handler() {
        this.$store.commit("filters", this.filters);
      }
    }
  },

  computed: {
    imagePath() {
      return process.env.VUE_APP_API_PATH + "/api/images"
    },
    filterLength() {
      let len = 0;
      for (const key of Object.keys(this.filters)) {
        const val = this.filters[key];

        if (!(val instanceof Array) && val !== 0 && !!val) {
          len++;
        }
      }

      return len;
    },
    types() {
      return [
        {
          text: this.$t('studentroom'),
          value: 0
        },
        {
          text: this.$t('skypebooth'),
          value: 1
        }
      ]
    },

    equipment() {
      return [
        {
          text: this.$t('table'),
          value: "table"
        },
        {
          text: this.$t('projector'),
          value: "projector"
        },
        {
          text: this.$t('whiteboard'),
          value: "whiteboard"
        }
      ]

    }
  },

  created() {
    this.filters = this.$store.getters.filters;
  },

  mounted() {
    this.loading = true;

    axios.get(this.path, {withCredentials: true}).then(res => {
      this.rooms = res.data.map(
          room => {
            return {
              name: room.name,
              id: room.id,
              thumbnail: room.thumbnail
            }
          }
      );
      this.loading = false;
    })
  },

  data() {
    return {
      rooms: [],
      filters: {},
      path: process.env.VUE_APP_API_PATH + "/api/rooms",
      showFilters: false,
      loading: false
    }
  }
}
</script>

<style scoped>
.filterLabel {
  flex-grow: 0;
  min-width: 105px;
}

v-icon {
  cursor: pointer;
  border: 3px #b79a33 solid;
  border-radius: 25%;
}
</style>
