<template>
  <div class="con-main">
    <div class="con-50 con-center">
      <div class="title-main">{{ $t('qrcode') }}</div>
      <video v-on:click="scan" :value="scanning ? 'Stop' : 'Scan'" class="con-100"></video>
      <div class="space-evenly">
        <v-btn :disabled="roomNumber === -1" @click="viewRoom" color="primary" rounded>{{ $t('viewroom') }}</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import QrScanner from 'qr-scanner';
import QrScannerWorkerPath from '!!file-loader!../../node_modules/qr-scanner/qr-scanner-worker.min.js';
QrScanner.WORKER_PATH = QrScannerWorkerPath;

export default {
  name: "Scanner",
  methods: {
    scan() {
      if (this.scanning) {
        this.qrScanner.stop();
      } else {
        if (!QrScanner.hasCamera()) {
          return;
        }
        this.qrScanner = new QrScanner(document.querySelector("video"), e => this.roomNumber = e);
        this.qrScanner.start();
      }
      this.scanning = !this.scanning;
    },
    stopScanner(){
      if(this.scanning){
        this.qrScanner.stop();
        this.scanning = false;
      }
    },
    viewRoom(){
      this.$router.push(`/rooms/${this.roomNumber}`);
    }
  },
  mounted(){
    window.addEventListener('blur', () => {
      this.stopScanner();
    });
  },
  beforeRouteLeave(to, from, next){
    this.stopScanner();
    next();
  },
  data(){
    return{
      scanning: false,
      roomNumber: -1
    }
  }

}
</script>

<style scoped>
video{
  display: block;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin: 0 0 5px 0;
}
video:hover{
  cursor: pointer;
}
</style>
