.con-main{
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: var(--content-length);
}
.con-main>.con-25,
.con-main>.con-50,
.con-main>.con-100{
    padding: 5px;
}
.con-25 {
    width: 25%;
}
.con-50 {
    width: 50%;
}
.con-100{
    width: 100%;
}
.con-center{
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 800px) {
    /*MAIN CONTENT*/
    .con-main, .con-25, .con-50, .header-content {
        width: 100%;
    }
    .con-main>.con-25,
    .con-main>.con-50,
    .con-main>.con-100{
        padding: 5px;
    }
    .table-lined>tr>td, .table-lined>tr>th{
        padding: 2px;
        font-size: 80%;
    }
}
