/*STYLE DEFINES*/
:root{
    --main: #C7B886;
    --black: #1B1C20;
    --white: #F1F1F1;
    --border: #b79a33;
    --grey: #BFB3B3;

    /*
    --unselected: #32425c;
    --selected: #969696;
     */
    /*
    --border: #ababab;
    --black: #1B1C20;
    --white: #ededed;
     */
    /*
    --black: #1B1C20;
    --border: #b79a33;
    --title-black: #000000;
    --text-black: #585858;
    --white: #F1F1F1;
    --input: #C7B886;
    --line: #B79A33;
    --grey: #BFB3B3;
     */


    /*
    --white: #ededed;
    */
    /*
    --background: #e8e8e8;
    --inner-background: #dbdbdb;
    --table-border: #c7c7c7;
     */
    --content-length: 800px;
}

.selectable:hover{
    cursor: pointer;
}

.con-login{
    background: url('../assets/login-bg.png') rgba(0,0,0,0.8);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.login-title{
    border: 8px var(--border);
    border-style: none none solid none;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.btn{
    background: var(--main);
    color: var(--white) !important;
    border: 1px solid var(--border);
    outline: none;
    border-radius: 20px;
    min-width: 120px;
    font-size: 30px;
    padding: 5px 10px 5px 10px !important;
}
.second{
    background: var(--grey) !important;
}

