/*HEADER BAR*/
.header{
    background: var(--main);
    height: 50px;
    border: 1px var(--border);
    border-style: none none solid none;
}
.header-content{
    width: var(--content-length);
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}
.header-logo{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 30px;
}

/*BUTTONS & LINKS*/
.nav-header-link{
    text-decoration: none;
    color: var(--white) !important;
    padding: 5px;
}
/*HEADER BAR BUTTON TO OPEN NAV*/
.nav-modal-open{
    background-image: url('../assets/nav-bg.png');
    margin: 0 10px 0 0;
    width: 32px;
    height: 32px;
}
.nav-modal-open:hover{
    cursor: pointer;
}
.nav-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.nav-modal-content{
    background: var(--black);
    color: var(--white);
    padding: 10px;
    width: 50%;
    height: 100%;
}
.nav-modal-btn{
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 5px auto 5px auto;
    text-decoration: none;
    background: var(--main);
    color: var(--white) !important;
    padding: 5px;
}

.nav-link-active{
    text-decoration: underline !important;
}
