.room-img{
    border: 1px solid var(--border);
    border-radius: 6px;
    width: 100%;
}
.room-desc{
    text-align: center;
    font-size: 25px;
}
.title-main{
    border: 2px var(--border);
    border-style: none none solid none;
    font-size: 30px;
    margin: 0 0 5px 0;
}
.title-paragraph{
    margin: 10px 0 0 0;
    font-size: 24px;
}
/*
.room-paragraph{
    margin: 10px;
    padding: 10px 0 5px 0;
    border: 2px var(--border);
    border-style: none none solid none;
    color: var(--black);
    font-size: 20px;
}
*/
.space-evenly{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0 0 0;
}

@media screen and (max-width: 800px) {
}
