*{
    box-sizing: border-box;
    font-family: 'Rubik';
    -webkit-appearance: none;
}

body {
    margin: 0;
}

/*HEADER*/
/*
.header{
    background: var(--main);
    height: 50px;
    border: 1px var(--border);
    border-style: none none solid none;
}
.header-content{
    width: var(--content-length);
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}
.header-logo{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 30px;
}
*/
/*NAVIGATION BUTTONS*/
/*
.nav-header-btn:not(:first-child){
    border: 1px var(--border);
    border-style: none none none solid;
}
 */
.router-link{
    text-decoration: none;
}
.nav-link-active{
    /*
    background: var(--selected) !important;
    */
    text-decoration: underline !important;
}
/*OPEN MODAL VIEW FOR PHONE DEVICES*/
.nav-modal-btn{
    background-image: url('../assets/nav-bg.png');
    margin: 0 10px 0 0;
    width: 32px;
    height: 32px;
}
.nav-modal-btn:hover{
    cursor: pointer;
}
/*MODAL*/
/*
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.modal-content{
    background: var(--black);
    color: var(--white);
    padding: 10px;
    width: 50%;
    height: 100%;
}
.modal-btn{
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 5px auto 0 auto;
    text-decoration: none;
    background: var(--unselected);
    color: var(--white);
    padding: 5px;
}
 */
/*INPUT*/
/*
input{
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--border);
    -webkit-appearance: none;
    text-decoration: none;
}
input[type=text]{
}
input[type=button]{
    background: var(--unselected);
    color: var(--white);
}
input:not(:last-child){
    margin: 0 5px 0 0;
}
input[type=button]:hover{
    cursor: pointer;
}
.btn-small{
    padding: 1px 4px 1px 4px !important;
}
 */
.form-line:not(:first-child){
    margin: 5px 0 0 0;
}
.form-line>input{
    display: block;
}
/*SELECT*/
select{
    border: 1px solid var(--border);
    color: var(--white);
    border-radius: 5px;
    outline: none;
    padding: 5px 30px 5px 5px;
    margin: 0 5px 0 0;
    appearance: none;
    background: url('../assets/select-btn.png') no-repeat right var(--unselected);
}
select:hover{
    cursor: pointer;
}
/*CONTENT*/
.text-center{
    text-align: center;
}


/*CONTENT BOX*/
/*
.card-h{
    font-size: 21px;
    padding: 10px;
    background: var(--main);
    color: var(--white);
    border: 1px var(--border);
    border-style: solid solid none solid;
    border-radius: 5px 5px 0 0;
}
.card-b{
    padding: 10px;
    word-break: break-word;
    background: var(--background);
    border: 1px var(--border);
    border-style: none solid solid solid;
    border-radius: 0 0 5px 5px;
}
.card-res{
    padding: 5px;
    background: var(--main);
    color: var(--white);
    border: 1px solid var(--border);
}
 */
/*TABLE*/
/*
.table-lined{
    width: 100%;
    margin: 5px 0 0 0;
    border-collapse: inherit;
    color: var(--black);
}
.table-lined>tr>td,
.table-lined>tr>th{
    padding: 5px;
}
.table-lined>tr>th{
    background: var(--inner-background);
    color: var(--black);
}

.table-lined>tr>td:first-child,
.table-lined>tr>th:first-child{
    border: 1px var(--table-border);
    border-style: none solid solid solid;
}
.table-lined>tr>td:not(:first-child),
.table-lined>tr>th:not(:first-child){
    border: 1px var(--table-border);
    border-style: none solid solid none;
}

.table-lined>tr:first-child>th:first-child{
    border-radius: 5px 0 0 0;
}
.table-lined>tr:first-child>th:last-child{
    border-radius:  0 5px 0 0;
}
.table-lined>tr:last-child>td:first-child{
    border-radius: 0 0 0 5px;
}
.table-lined>tr:last-child>td:last-child{
    border-radius: 0 0 5px 0;
}
*/

/*NEW DESIGNS*/
/*LOGIN PAGE*/
.login-body{
    position: absolute;
    top: 0;
    left: 0;
    background: url('../assets/login-bg.png') rgba(0,0,0,0.8);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.login-title{
    border: 8px var(--line);
    border-style: none none solid none;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

/*INPUT*/
input[type=button]{
    background: var(--main);
    border: 1px solid var(--border);
    outline: none;
    border-radius: 20px;
    color: var(--white);
    min-width: 120px;
    font-size: 30px;
    padding: 10px 5px 10px 5px;
}
input[type=button]:hover{
    cursor: pointer;
}

.btn-second{
    background: var(--grey) !important;
}

.btn-large{
    padding: 20px 30px 20px 30px !important;
    border-radius: 10px !important;
    font-size: 35px !important;
    width: 300px !important;
}

.space-evenly{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0 0 0;
}
/*ROOM SELECTION*/
.room-con-50,
.room-con-dyn-50{
    padding: 5px;
    width: 50%;
}
.room-desc{
    text-align: center;
    font-size: 25px;
}
.room-head{
    border: 2px var(--border);
    border-style: none none solid none;
    font-size: 30px;
}
.selectable:hover{
    cursor: pointer;
}

/*ROOM DETAILS*/
.room-title,
.room-title-small{
    margin: 10px;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    border: 2px var(--border);
    border-style: none none solid none;
    color: var(--text-black);
}
.room-title-small{
    font-size: 30px;
}
.room-par{
    margin: 10px;
    padding: 10px 0 5px 0;
    border: 2px var(--border);
    border-style: none none solid none;
    color: var(--text-black);
    font-size: 20px;
}
.room-par-head{
    font-weight: bold;
    font-size: 21px;
    color: var(--title-black);
}

/*ROOM BOOKING*/
.room-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.room-modal-con{
    margin: 200px auto 0 auto;
    width: var(--content-length);
    display: flex;
    justify-content: space-evenly;
}

.room-modal-content{
    background: var(--white);
    border: 1px solid var(--border);
    width: 50%;
    padding: 10px 10px 30px 10px;
    border-radius: 20px;
}
.room-calender{
    border-collapse: collapse;
}
.room-calender>tr>td{
    border: 1px solid var(--border);
    height: 30px;
    width: 30px;
    text-align: center;
}
.room-calender>tr>td:nth-child(even){
    background: #dbdbdb;
}

.room-calender>tr>td:hover{
    cursor: pointer;
    background: var(--grey);
}


/*HEADINGS*/
h1,h2,h3,h4,h5{
    margin: 0;
}
p{
    margin: 2px 0 2px 0;
}

/*VIDEO*/
/*
video{
    display: block;
    border: 1px solid var(--border);
    border-radius: 5px;
}
video:hover{
    cursor: pointer;
}
*/
/*SIZING FOR PHONES*/
@media screen and (max-width: 800px) {
    /*MAIN CONTENT*/
    .table-lined>tr>td, .table-lined>tr>th{
        padding: 2px;
        font-size: 80%;
    }
    .card-h{
        border-radius: 0;
        border-style: solid none none none;
    }
    .card-b{
        border-radius: 0;
        border-style: none none solid none;
    }
    /*ROOMS CONTENT*/
    .room-con-dyn-50{
        width: 100%;
        padding: 10px;
    }
    .room-modal-con,
    .room-modal-content{
        width: 100%;
    }
}
