<template>
  <v-app>
    <div class="header" v-if="this.$route.fullPath !== '/'">
      <div class="header-content">
        <div class="header-logo">
          <v-icon large color="white" v-if="windowWidth < 800" v-on:click="navModalOpen = true">mdi-menu</v-icon>
          <router-link class="nav-header-link pl-0" to="/" active-class="name">DeltaQR</router-link>
        </div>
        <div class="header-nav">
          <v-row no-gutters>
            <v-col class="pt-1">
              <span v-if="windowWidth >= 800"  style="line-height: 18px">
                <router-link class="nav-header-link"
                             v-for="link in navLinks"
                             :to="link.to"
                             :key="link.id">{{ $t(link.desc) }}</router-link>
              </span>
            </v-col>
            <v-col style="flex-grow: 0">
              <LanguageSwitcher></LanguageSwitcher>
            </v-col>
          </v-row>
        </div>
      </div>
    </div>
    <!--    <div class="nav-modal" v-if="navModalOpen && windowWidth < 800" v-on:click="navModalOpen = !navModalOpen">-->
    <!--      <div class="nav-modal-content">-->
    <!--        <h1>Navigation</h1>-->
    <!--        <router-link class="nav-modal-btn" v-for="link in navLinks" :to="link.to" :key="link.id">{{ link.desc }}</router-link>-->
    <!--      </div>-->
    <!--    </div>-->

    <v-navigation-drawer
        v-model="navModalOpen"
        absolute
        temporary
        class="nav-modal"
        style="z-index: 2"
    >
      <v-list nav dense>
        <v-list-item-group>
          <v-list-item v-for="link in navLinks" :key="link.id">
            <router-link class="nav-modal-btn" :to="link.to">{{ $t(link.desc) }}</router-link>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <router-view></router-view>
  </v-app>
</template>

<script>

//import Menu from "@/components/Menu";
import LanguageSwitcher from '@/components/LanguageSwitcher';
export default {
  name: 'App',
  components: {
    LanguageSwitcher
    //Menu
  },
  created() {

  },

  computed: {
    isAnon() {
      return this.$store.getters.isAnon;
    },

    isAdmin() {
      return this.$store.getters.isAdmin;
    },

    navLinks() {
      let result = [
        {to: '/rooms', desc: 'rooms'},
      ]

      if (window.mobileCheck()) {
        result = [{to: '/scanner', desc: 'scanner'}, ...result];
      }

      if (this.isAdmin) {
        result.push({to: '/management', desc: 'management'});
      }

      if (this.isAnon) {
        result.push(
          {to: '/login', desc: 'login'},
        )
      } else {
        result.push(
          {to: '/profile', desc: 'profile'},
          {to: '/logout', desc: 'logout'}
        )
      }


      return result;
    }
  },

  data() {
    return {
      menu_open: false,
      navModalOpen: false,
    }
  }
}
</script>

<style>
/*HEADER & NAVIGATION*/

.name {
  text-decoration: none;
}

</style>

<style scoped>
.linkContainer > .nav-header-link:last-child {
  margin-left: 16px;
}

</style>
<style src="./styles/main.css"></style>
<style src="./styles/rooms.css"></style>
<style src="./styles/navigation.css"></style>
<style src="./styles/containers.css"></style>
